project                = "dotmesh-production"
admin_password         = "secure-password"
letsencrypt_mode       = "production"
license_key            = "a valid license key for Dotscience"
hub_ingress_cidr       = "0.0.0.0/0"
key_name               = "An existing AWS keypair name"
ssh_access_cidr        = "0.0.0.0/0"
grafana_admin_password = "secure-password"